<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njrsun.modules.om.mapper.OmRejectMasterMapper">
    
    <resultMap type="OmRejectMaster" id="OmRejectMasterResult">
        <result property="uniqueId"    column="unique_id"    />
        <result property="omCode"    column="om_code"    />
        <result property="invoiceDate"    column="invoice_date"    />
        <result property="invoiceStatus"    column="invoice_status"    />
        <result property="invoiceType"    column="invoice_type"    />
        <result property="workStatus"    column="work_status"    />
        <result property="workType"    column="work_type"    />
        <result property="workDept"    column="work_dept"    />
        <result property="workStaff"    column="work_staff"    />
        <result property="checkDate"    column="check_date"    />
        <result property="tel"    column="tel"    />
        <result property="bank"    column="bank"    />
        <result property="account"    column="account"    />
        <result property="tax"    column="tax"    />
        <result property="addr2"    column="addr2"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="alias" column="alias"/>
        <result property="city" column="city"/>
        <result property="cityId" column="city_id"/>
        <result property="credit" column="credit"/>
        <result property="creditLimit" column="credit_limit"/>
        <result property="type" column="type"/>
        <result property="wMobile" column="w_mobile"/>
        <result property="wContacts" column="w_contacts"/>
        <result property="fMobile" column="f_mobile"/>
        <result property="userOper"    column="user_oper"    />
        <result property="userCheck"    column="user_check"    />
        <result property="remarks"    column="remarks"    />
        <result property="customer"    column="customer"    />
        <result property="customerId"    column="customer_id"    />
        <result property="deliverDate"    column="deliver_date"    />
        <result property="warehouse"    column="warehouse"    />
        <result property="reason"    column="reason"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="reasonId"  column="reason_id"/>
        <result property="formConfig" column="form_config"/>
        <result property="warehouse" column="warehouse"/>
    </resultMap>

    <resultMap id="OmRejectMasterOmRejectSalveResult" type="OmRejectMaster" extends="OmRejectMasterResult">
        <collection property="omRejectSalveList" notNullColumn="unique_id" javaType="java.util.List" resultMap="OmRejectSalveResult" />
    </resultMap>

    <resultMap type="OmRejectSalve" id="OmRejectSalveResult">
        <result property="uniqueId"    column="id"    />
        <result property="omCode"    column="om_code"    />
        <result property="ppNumber"    column="pp_number"    />
        <result property="invSortRoot"    column="inv_sort_root"    />
        <result property="invSortId"    column="inv_sort_id"    />
        <result property="invCode"    column="inv_code"    />
        <result property="invName"    column="inv_name"    />
        <result property="invAttribute"    column="inv_attribute"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="unitName"    column="unit_name"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="amount"    column="amount"    />
        <result property="tax"    column="tax"    />
        <result property="billName"    column="bill_name"    />
        <result property="pkgType"    column="pkg_type"    />
        <result property="woInvoice" column="wo_invoice"/>
        <result property="woInvoiceId" column="wo_invoice_id"/>
        <result property="woCode"    column="wo_code"    />
        <result property="woUniqueId"    column="wo_unique_id"    />
        <result property="woQuantity"    column="wo_quantity"    />
        <result property="wiQuantityR"    column="wi_quantity_r"    />
        <result property="wiQuantity"    column="wi_quantity"    />
        <result property="remarks"    column="rs"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="woDate" column="wo_date"/>
        <result property="woType" column="wo_type"/>
        <result property="woTypeId" column="wo_type_id"/>
        <result property="woConfig" column="wo_config"/>
        <result property="batchNumber" column="batch_number"/>
        <result property="f1" column="f1"/>
        <result property="f2" column="f2"/>
        <result property="f3" column="f3"/>
        <result property="f4" column="f4"/>
        <result property="f5" column="f5"/>
    </resultMap>

    <sql id="selectOmRejectMasterVo">
        select unique_id, om_code, invoice_date,form_config, invoice_status,warehouse, invoice_type, work_status, work_type, work_dept, work_staff, check_date,
               user_oper, user_check, remarks, customer, customer_id, deliver_date, warehouse, reason, del_flag, create_date, create_by, update_date, update_by,
               version,reason_id from om_reject_master
    </sql>

    <sql id="selectOmRejectSalveVo">
        SELECT unique_id, om_code, pp_number, inv_sort_root, inv_sort_id, inv_code, inv_name, inv_attribute, unit_name, unit_code, batch_number, quantity, price,
               amount, tax, bill_name, pkg_type, wo_config, wo_invoice, wo_invoice_id, wo_type, wo_date, wo_type_id, wo_code, wo_unique_id, wo_quantity, wi_quantity,
               wi_quantity_r, remarks, f1, f2, f3, f4, f5, create_time, create_by, update_time, update_by, del_flag
        FROM
            om_reject_salve
    </sql>
    <update id="deleteOmRejectSalveByIds">
        update om_reject_salve set del_flag = 1 where unique_id in 
        <foreach collection="array" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>
    </update>

    <select id="selectOmRejectMasterList" parameterType="OmRejectMaster" resultMap="OmRejectMasterResult">
        <include refid="selectOmRejectMasterVo"/>
        <where>  
            <if test="omCode != null  and omCode != ''"> and om_code = #{omCode}</if>
            <if test="invoiceDate != null "> and invoice_date = #{invoiceDate}</if>
            <if test="invoiceStatus != null  and invoiceStatus != ''"> and invoice_status = #{invoiceStatus}</if>
            <if test="invoiceType != null  and invoiceType != ''"> and invoice_type = #{invoiceType}</if>
            <if test="workStatus != null  and workStatus != ''"> and work_status = #{workStatus}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workDept != null  and workDept != ''"> and work_dept = #{workDept}</if>
            <if test="workStaff != null  and workStaff != ''"> and work_staff = #{workStaff}</if>
            <if test="checkDate != null "> and check_date = #{checkDate}</if>
            <if test="userOper != null  and userOper != ''"> and user_oper = #{userOper}</if>
            <if test="userCheck != null  and userCheck != ''"> and user_check = #{userCheck}</if>
            <if test="customer != null"> and customer like concat('%',#{customer},'%')</if>
             and del_flag = 0
             <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
        </where>
        order by  unique_id desc
    </select>
    
    <select id="selectOmRejectMasterByCode" parameterType="String" resultMap="OmRejectMasterOmRejectSalveResult">
        select a.unique_id, a.om_code,a.warehouse, a.invoice_date, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id,a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,a.form_config,
            b.unique_id id, b.om_code, b.pp_number, b.inv_sort_root, b.inv_sort_id, b.inv_code, b.inv_name, b.inv_attribute, b.unit_code, b.unit_name, b.quantity, b.price, b.amount, b.tax, b.bill_name, b.pkg_type, b.wo_code, b.wo_unique_id, b.wo_quantity, b.wi_quantity_r, b.wi_quantity, b.remarks rs, b.create_time, b.create_by, b.update_time, b.update_by, b.del_flag,b.wo_invoice,wo_invoice_id,b.wo_date,b.wo_type_id,b.wo_type,b.wo_config,b.batch_number,f1,f2,f3,f4,f5
        from om_reject_master a
        left join om_reject_salve b on b.om_code = a.om_code and b.del_flag = 0
        where a.om_code = #{omCode} and a.del_flag = 0
    </select>

    <select id="selectomRejectSalveByCode" resultType="java.lang.Long">
        select unique_id from om_reject_salve where om_code  = #{omCode}  and del_flag = 0
    </select>

    <select id="selectOmRejectMasterByCodes" resultMap="OmRejectMasterOmRejectSalveResult" parameterType="java.lang.String">
        select a.unique_id, a.om_code, a.invoice_date,a.warehouse, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id, a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,a.form_config,
               b.unique_id id, b.om_code, b.pp_number, b.inv_sort_root, b.inv_sort_id, b.inv_code, b.inv_name, b.inv_attribute, b.unit_code, b.unit_name, b.quantity, b.price, b.amount, b.tax, b.bill_name, b.pkg_type, b.wo_code, b.wo_unique_id, b.wo_quantity, b.wi_quantity_r, b.wi_quantity, b.remarks rs, b.create_time, b.create_by, b.update_time, b.update_by, b.del_flag,b.wo_invoice,wo_invoice_id,b.wo_date,b.wo_type_id,b.wo_type,b.wo_config,b.batch_number,f1,f2,f3,f4,f5
        from om_reject_master a
                 left join om_reject_salve b on b.om_code = a.om_code and b.del_flag = 0
        where a.om_code  in
            <foreach collection="array" separator="," index="index" item="item" close=")" open="(">
                #{item}
            </foreach> for update
    </select>

    <select id="selectOmRejectInvoiceStatusByCodes" resultType="java.lang.String">
        select invoice_status from om_reject_master where om_code in
        <foreach collection="array" open="(" close=")" item="item" index="index" separator=",">
            #{item}
        </foreach>

    </select>


    <select id="getDetail" resultType="java.util.Map" parameterType="com.njrsun.modules.om.domain.OmRejectMaster">
        select  a.om_code, a.invoice_date, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id, a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,quantity-wi_quantity as deliverable ,wi_quantity-wi_quantity_r as returnable
               ,b.unique_id , b.om_code, b.pp_number, b.inv_sort_root, b.inv_sort_id, b.inv_code, b.inv_name, b.inv_attribute, b.unit_code, b.unit_name, b.quantity, b.price, b.amount, b.tax, b.bill_name, b.pkg_type, b.wo_code, b.wo_unique_id, b.wo_quantity, b.wi_quantity_r, b.wi_quantity, b.remarks rs, b.create_time, b.create_by, b.update_time, b.update_by, b.del_flag,b.wo_invoice,wo_invoice_id,b.wo_date,b.wo_type_id,b.wo_type,b.wo_config,ifnull(b.batch_number,'') as 'batchNumber'
        from om_reject_master a
                 left join om_reject_salve b on b.om_code = a.om_code and b.del_flag = 0
        <where>
            <if test="startDate != null"> and  invoice_date >= #{startDate}</if>
            <if test="omCode != null and omCode !=''"> and a.om_code = #{omCode}</if>
            <if test="endDate != null"> and  #{endDate} >= invoice_date</if>
            <if test="workStaff != null"> and work_staff like concat('%',#{workStaff},'%')</if>
            <if test="customer != null"> and customer like concat('%',#{customer},'%')</if>
            <if test="pp != null and pp !=''"> and pp_number = #{pp}</if>
            <if test="searchValue != null and searchValue !=''"> and inv_name like concat('%',#{searchValue},'%')</if>
            and a.del_flag = 0
            <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
        </where>
     order by  a.unique_id desc
     </select>


    <select id="selectOmRejectMasterId" resultType="java.lang.Long" parameterType="com.njrsun.modules.om.domain.OmRejectMaster">
        select unique_id from om_reject_master  where del_flag = 0
     <include
            refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
    </select>

    <select id="selectOmRejectMasterById" resultMap="OmRejectMasterOmRejectSalveResult">
        select a.unique_id, a.om_code, a.invoice_date, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id,a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,a.form_config,
               b.unique_id id, b.om_code, b.pp_number, b.inv_sort_root, b.inv_sort_id, b.inv_code, b.inv_name, b.inv_attribute, b.unit_code, b.unit_name, b.quantity, b.price, b.amount, b.tax, b.bill_name, b.pkg_type, b.wo_code, b.wo_unique_id, b.wo_quantity, b.wi_quantity_r, b.wi_quantity, b.remarks rs, b.create_time, b.create_by, b.update_time, b.update_by, b.del_flag,b.wo_invoice,wo_invoice_id,b.wo_date,b.wo_type_id,b.wo_type,b.wo_config,b.batch_number,f1,f2,f3,f4,f5
        from om_reject_master a
                 left join om_reject_salve b on b.om_code = a.om_code and b.del_flag = 0
        where a.unique_id = #{id}
    </select>
    <select id="export" resultType="com.njrsun.modules.om.domain.ExportReject">
        select pp_number,customer,inv_code,inv_name,quantity,wi_quantity,pkg_type,invoice_date,work_staff,batch_number,invoice_status from om_reject_master
        left join om_reject_salve ors on om_reject_master.om_code = ors.om_code
        <where>
            <if test="startDate != null"> and  invoice_date >= #{startDate}</if>
            <if test="omCode != null and omCode !=''"> and ors.om_code = #{omCode}</if>
            <if test="endDate != null"> and  #{endDate} >= invoice_date</if>
            <if test="workStaff != null"> and work_staff like concat('%',#{workStaff},'%')</if>
            <if test="customer != null"> and customer like concat('%',#{customer},'%')</if>
            and ors.del_flag = 0
            <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
        </where>
    </select>
    <select id="rejectReport" resultType="com.njrsun.modules.om.domain.OmRejectReport">
        select om_reject_master.om_code, om_reject_master.invoice_date, om_reject_master.invoice_status,
               om_reject_master.invoice_type, om_reject_master.work_status, om_reject_master.work_type, om_reject_master.work_dept,
               om_reject_master.work_staff, om_reject_master.check_date, om_reject_master.user_oper, om_reject_master.user_check,
               om_reject_master.remarks, om_reject_master.customer, om_reject_master.customer_id, om_reject_master.deliver_date,
               om_reject_master.warehouse, om_reject_master.reason, om_reject_master.reason_id,
               ors.pp_number, ors.inv_sort_root, ors.inv_sort_id, ors.inv_code,
               ors.inv_name, ors.inv_attribute, ors.unit_code, ors.unit_name, ors.quantity, ors.price, ors.amount, ors.tax, ors.bill_name,
               ors.pkg_type, ors.wo_invoice, ors.wo_invoice_id, ors.wo_code, ors.wo_unique_id, ors.wo_quantity, ors.wi_quantity,
                ors.remarks remark
        from om_reject_master left join om_reject_salve ors on om_reject_master.om_code = ors.om_code and ors.del_flag = 0
        <where>
         and   om_reject_master.del_flag = 0
            <if test="omCode != null and omCode !=''"> and om_reject_master.om_code = #{omCode}</if>
            <if test="customer != null and customer !=''"> and om_reject_master.customer like concat('%',#{customer},'%')</if>
            <if test="workStaff != null and workStaff != ''"> and om_reject_master.work_staff like concat('%',#{workStaff},'%')</if>
            <if test="invName != null and invName !=''"> and ors.inv_name = #{invName}</if>
            <if test="startDate != null"> and om_reject_master.invoice_date >= #{startDate}</if>
            <if test="endDate != null"> and  #{endDate} >= om_reject_master.invoice_date</if>
        </where>
        order by om_reject_master.invoice_date desc
    </select>
    <select id="selectOmRejectSalveWoById" resultType="java.util.Map">
        select  om_reject_salve.wo_code as code,
                inv_code,
                inv_name,
                unit_name,
                inv_attribute,
                wo_quantity as 'quantity',
                wo_invoice invoice,
                wo_invoice_id invoice_id,
                wo_type type,
                wo_type_id type_id,
                date_format(wo_date,'%Y-%m-%d')  as date,
                wo_config as form_config
        from om_reject_salve
        left join om_reject_master orm on orm.om_code = om_reject_salve.om_code
        where om_reject_salve.unique_id = #{uniqueId}
    </select>
    <select id="selectOmRejectMasterByCodeForUpdate"
            parameterType="String" resultMap="OmRejectMasterOmRejectSalveResult">
        select a.unique_id, a.om_code, a.invoice_date, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id,a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,a.form_config
        from om_reject_master a
        where a.om_code = #{omCode} and a.del_flag = 0  for update
    </select>
    <select id="selectOmOrderSalveByOmCode" resultType="com.njrsun.modules.om.domain.OmRejectSalve">
        select  unique_id, om_code, pp_number, inv_sort_root, inv_sort_id, inv_code, inv_name, inv_attribute, unit_code, unit_name, quantity, price, amount, tax, bill_name, pkg_type, wo_invoice, wo_invoice_id, wo_type, wo_type_id, wo_date, wo_code, wo_unique_id, wo_quantity,
               wi_quantity, wi_quantity_r, remarks, create_time, create_by, update_time, update_by, del_flag,wo_config from om_reject_salve where om_code = #{omCode} and del_flag = 0 order by wo_code
    </select>
    <select id="selectOmRejectMasterByMaster" parameterType="com.njrsun.modules.om.domain.OmRejectMaster" resultMap="OmRejectMasterOmRejectSalveResult">
        select a.unique_id, a.om_code, a.invoice_date,a.warehouse, a.invoice_status, a.invoice_type, a.work_status, a.work_type, a.work_dept, a.work_staff, a.check_date, a.user_oper, a.user_check, a.remarks, a.customer, a.customer_id, a.deliver_date, a.warehouse, a.reason,a.reason_id,a.del_flag, a.create_date, a.create_by, a.update_date, a.update_by, a.version,a.form_config,
               b.unique_id id, b.om_code, b.pp_number, b.inv_sort_root, b.inv_sort_id, b.inv_code, b.inv_name, b.inv_attribute, b.unit_code, b.unit_name, b.quantity, b.price, b.amount, b.tax, b.bill_name, b.pkg_type, b.wo_code, b.wo_unique_id, b.wo_quantity, b.wi_quantity_r, b.wi_quantity, b.remarks rs, b.create_time, b.create_by, b.update_time, b.update_by, b.del_flag,b.wo_invoice,wo_invoice_id,b.wo_date,b.wo_type_id,b.wo_type,b.wo_config,f1,f2,f3,f4,f5,b.batch_number
        from om_reject_master a
                 left join om_reject_salve b on b.om_code = a.om_code and b.del_flag = 0
        where a.om_code = #{omCode} and a.del_flag = 0
        <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
    </select>
    <select id="linkDetail" resultType="java.util.Map" parameterType="java.util.Map">
        select
        odm.om_code as code,
        om_reject_salve.inv_code,
        om_reject_salve.inv_name,
        inv_attribute,
        om_reject_salve.unit_name,
        om_reject_salve.quantity,
        odm.work_type as  type_id,
        odm.invoice_type as invoice_id,
        odm.form_config,
        date_format(odm.invoice_date,'%Y-%m-%d') as  date
        from om_reject_salve left join om_reject_master odm on om_reject_salve.om_code = odm.om_code
        where om_reject_salve.wo_unique_id = #{uniqueId} and odm.invoice_status = 1
    </select>

    <select id="lead" resultType="java.util.Map">
        select  unique_id,om_code, invoice_date, invoice_status,warehouse, invoice_type, work_status, form_config, work_type, work_dept, work_staff, check_date, user_oper, user_check,remarks, reason, reason_id, customer, customer_id
        from om_reject_master
        <where>
            <if test="omCode != null and omCode !=''"> and om_code = #{omCode}</if>
            <if test="warehouse != null and warehouse != ''"> and warehouse = #{warehouse}</if>
            and invoice_status = 1 and work_status = 0 and del_flag = 0
            and  om_code  in  (select om_code from om_reject_salve   <where>
            and quantity-wi_quantity > 0
            <if test="invCode != null and invCode != ''">
                and inv_code = #{invCode}
            </if>
            <if test="invName != null and invName != ''">
                and inv_name like concat('%',#{invName},'%')
            </if>
            and del_flag = 0
        </where> )
        </where>
        order by unique_id desc
    </select>
    <select id="leadInto" resultType="java.util.Map">
        select  om_reject_salve.om_code,
                om_reject_salve.pp_number,
                inv_attribute,inv_sort_id,inv_sort_root,unit_code,unit_name,batch_number,
                inv_code,
                inv_name,
                quantity,
                0 as price,
                wi_quantity,
                om_reject_salve.remarks,
                invoice_date as 'invoiceDate',
                om_reject_salve.unique_id,
                work_type as work_type_id,
                invoice_type as invoice_type_id,
                form_config,
                quantity-wi_quantity as surplus,
                pcm.customer,
                pcm.customer_id,
               f1,f2,f3,f4,f5
        from  om_reject_salve  left join om_reject_master pcm on om_reject_salve.om_code = pcm.om_code and pcm.del_flag = 0
        where om_reject_salve.om_code = #{omCode} and quantity - wi_quantity > 0 and om_reject_salve.del_flag = 0
    </select>


    <insert id="insertOmRejectMaster" parameterType="OmRejectMaster" useGeneratedKeys="true" keyProperty="uniqueId">
        insert into om_reject_master
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="omCode != null and omCode != ''">om_code,</if>
            <if test="invoiceDate != null">invoice_date,</if>
            <if test="invoiceStatus != null">invoice_status,</if>
            <if test="invoiceType != null">invoice_type,</if>
            <if test="workStatus != null">work_status,</if>
            <if test="workType != null">work_type,</if>
            <if test="workDept != null">work_dept,</if>
            <if test="workStaff != null">work_staff,</if>
            <if test="checkDate != null">check_date,</if>
            <if test="params.loginId != null">user_oper,</if>
            <if test="userCheck != null">user_check,</if>
            <if test="remarks != null">remarks,</if>
            <if test="customer != null">customer,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="deliverDate != null">deliver_date,</if>
            <if test="warehouse != null and warehouse != ''">warehouse,</if>
            <if test="reason != null">reason,</if>
            create_date,
            <if test="createBy != null">create_by,</if>
            <if test="reasonId != null">reason_id,</if>
            <if test="formConfig != null">form_config,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="omCode != null and omCode != ''">#{omCode},</if>
            <if test="invoiceDate != null">#{invoiceDate},</if>
            <if test="invoiceStatus != null">#{invoiceStatus},</if>
            <if test="invoiceType != null">#{invoiceType},</if>
            <if test="workStatus != null">#{workStatus},</if>
            <if test="workType != null">#{workType},</if>
            <if test="workDept != null">#{workDept},</if>
            <if test="workStaff != null">#{workStaff},</if>
            <if test="checkDate != null">#{checkDate},</if>
            <if test="params.loginId != null">${params.loginId},</if>
            <if test="userCheck != null">#{userCheck},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="customer != null">#{customer},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="deliverDate != null">#{deliverDate},</if>
            <if test="warehouse != null and warehouse != ''">#{warehouse},</if>
            <if test="reason != null">#{reason},</if>
            SysDate(),
            <if test="createBy != null">#{createBy},</if>
            <if test="reasonId != null">#{reasonId},</if>
            <if test="formConfig != null">#{formConfig},</if>
         </trim>
    </insert>

    <update id="updateOmRejectMaster" parameterType="OmRejectMaster">
        update om_reject_master
        <trim prefix="SET" suffixOverrides=",">
            <if test="omCode != null and omCode != ''">om_code = #{omCode},</if>
            <if test="invoiceDate != null">invoice_date = #{invoiceDate},</if>
            <if test="invoiceStatus != null">invoice_status = #{invoiceStatus},</if>
            <if test="invoiceType != null">invoice_type = #{invoiceType},</if>
            <if test="workStatus != null">work_status = #{workStatus},</if>
            <if test="workType != null">work_type = #{workType},</if>
            <if test="workDept != null">work_dept = #{workDept},</if>
            <if test="workStaff != null">work_staff = #{workStaff},</if>
            <if test="checkDate != null">check_date = #{checkDate},</if>
            <if test="userOper != null">user_oper = #{userOper},</if>
            <if test="userCheck != null">user_check = #{userCheck},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="customer != null">customer = #{customer},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="deliverDate != null">deliver_date = #{deliverDate},</if>
            <if test="warehouse != null and warehouse != ''">warehouse = #{warehouse},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="reasonId != null">reason_id = #{reasonId},</if>
            update_date = SysDate(),
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="formConfig != null">form_config = #{formConfig},</if>

            version = version + 1 ,
        </trim>
        <where>
           and    unique_id = #{uniqueId} and version = #{version}
        <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.baseDataScope"/>
        </where>
    </update>

    <update id="deleteOmRejectMasterById" parameterType="String">
        update   om_reject_master  set del_flag = 1 where om_code = #{omCode}
    </update>

    <update id="deleteOmRejectMasterByIds">
    <foreach collection="list" item="item" index="index" separator=";">
        update  om_reject_master set del_flag = 1
        <where>
            and  om_code = #{item.omCode}
            <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.batchDataScope"/>
        </where>
    </foreach>

    </update>
    
    <update id="deleteOmRejectSalveByOmCodes" parameterType="String">
        update  om_reject_salve set del_flag = 1  where om_code in
        <foreach item="omCode" collection="array" open="(" separator="," close=")">
            #{omCode}
        </foreach>
    </update>

    <update id="deleteOmRejectSalveByOmCode" parameterType="Long">
        update   om_reject_salve set del_flag = 1  where om_code = #{omCode}
    </update>
    <update id="updateOmRejectSlave">
        <foreach collection="list" item="item" index="index" separator=";" >
        update om_reject_salve
        <trim prefix="SET" suffixOverrides=",">
                <if test="item.ppNumber != null">pp_number = #{item.ppNumber},</if>
                <if test="item.invSortRoot != null"> inv_sort_root = #{item.invSortRoot},</if>
                <if test="item.invSortId != null"> inv_sort_id = #{item.invSortId},</if>
                <if test="item.invCode != null"> inv_code = #{item.invCode},</if>
                <if test="item.invName != null"> inv_name = #{item.invName},</if>
                <if test="item.invAttribute != null"> inv_attribute = #{item.invAttribute},</if>
                <if test="item.unitCode != null"> unit_code = #{item.unitCode},</if>
                <if test="item.unitName != null"> unit_name = #{item.unitName},</if>
                <if test="item.quantity != null"> quantity = #{item.quantity},</if>
                <if test="item.price != null"> price = #{item.price},</if>
                <if test="item.amount != null"> amount = #{item.amount},</if>
                <if test="item.woCode != null"> wo_code = #{item.woCode},</if>
                <if test="item.woInvoice != null">wo_invoice = #{item.woInvoice},</if>
                <if test="item.woInvoiceId != null">wo_invoice_id = #{item.woInvoiceId},</if>
                <if test="item.woUniqueId != null"> wo_unique_id = #{item.woUniqueId},</if>
                <if test="item.woQuantity != null"> wo_quantity = #{item.woQuantity},</if>
                <if test="item.wiQuantityR != null"> wi_quantity_r = #{item.wiQuantityR},</if>
                <if test="item.wiQuantity != null"> wi_quantity = #{item.wiQuantity},</if>
                <if test="item.remarks != null"> remarks = #{item.remarks},</if>
                update_time  =SysDate(),
                <if test="item.updateBy != null"> update_by = #{item.updateBy},</if>
                <if test="item.pkgType != null">pkg_type = #{item.pkgType},</if>
                <if test="item.tax != null">tax = #{item.tax},</if>
                <if test="item.billName != null">bill_name = #{item.billName},</if>
            <if test="item.woDate != null">wo_date = #{item.woDate},</if>
            <if test="item.woType != null">wo_type = #{item.woType},</if>
            <if test="item.woTypeId != null">wo_type_id = #{item.woTypeId},</if>
            <if test="item.batchNumber != null">batch_number= #{item.batchNumber},</if>
            <if test="item.f1 != null">f1 = #{item.f1},</if>
            <if test="item.f2 != null">f1 = #{item.f2},</if>
            <if test="item.f3 != null">f1 = #{item.f3},</if>
            <if test="item.f4 != null">f1 = #{item.f4},</if>
            <if test="item.f5 != null">f1 = #{item.f5},</if>
        </trim>
            where unique_id = #{item.uniqueId}
</foreach>
    </update>
    <update id="batchCheck">
        update om_reject_master
        <trim prefix="SET" suffixOverrides=",">
        <if test="userName != null"> user_check = #{userName},check_date= SysDate(),</if>
        <if test="userName == null">user_check ='',check_date=null,</if>
        invoice_status = #{status},
        </trim>
        where om_code = #{item.omCode}
        <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.batchDataScope"/>
    </update>
    <update id="updateWorkStatus">
        update om_reject_master set work_status = #{value} where om_code = #{item.omCode}
        <include refid="com.njrsun.modules.om.mapper.OmOrderMasterMapper.batchDataScope"/>
    </update>
    <insert id="batchOmRejectSalve">
        insert into om_reject_salve( om_code, pp_number, inv_sort_root, inv_sort_id, inv_code, inv_name, inv_attribute, unit_code, unit_name, quantity, price, amount, tax, bill_name, pkg_type, wo_code, wo_unique_id, remarks, create_time, create_by,wo_quantity,wo_invoice,wo_invoice_id,wo_date,wo_type,wo_type_id,wo_config,f1,f2,f3,f4,f5,batch_number) values
		<foreach item="item" index="index" collection="list" separator=",">
            (  #{item.omCode}, #{item.ppNumber}, #{item.invSortRoot}, #{item.invSortId}, #{item.invCode}, #{item.invName}, #{item.invAttribute}, #{item.unitCode}, #{item.unitName}, #{item.quantity}, #{item.price}, #{item.amount}, #{item.tax}, #{item.billName}, #{item.pkgType}, #{item.woCode}, #{item.woUniqueId}, #{item.remarks}, SysDate(), #{item.createBy},#{item.woQuantity},#{item.woInvoice},#{item.woInvoiceId},#{item.woDate},#{item.woType},#{item.woTypeId},#{item.woConfig},#{item.f1},#{item.f2},#{item.f3},#{item.f4},#{item.f5},#{item.batchNumber})
        </foreach>
    </insert>

    <select id="selectOmRejectSalveForUpdate" resultType="com.njrsun.modules.om.domain.OmRejectSalve">
        select unique_id,  om_code, pp_number, inv_sort_root, inv_sort_id, inv_code, inv_name, inv_attribute, unit_code, unit_name, quantity, price, amount, tax, bill_name, pkg_type, wo_code, wo_unique_id, remarks, create_time, create_by,wo_quantity,wo_invoice,wo_invoice_id,wo_date,wo_type,wo_type_id,wo_config,wi_quantity,f1,f2,f3,f4,f5,batch_number
        from om_reject_salve  where unique_id =#{woUnqiueId} for update
    </select>
    <select id="selectOmRejectMasterForUpdate" resultType="com.njrsun.modules.om.domain.OmRejectMaster">
        <include refid="selectOmRejectMasterVo"></include>
        where om_code= #{code}
        for update
    </select>

    <select id="selectOmRejectSalveById" resultType="com.njrsun.modules.om.domain.OmRejectSalve">
        <include refid="selectOmRejectSalveVo"/>
        where unique_id= #{id}
    </select>

    <update id="changeQuantity">
        update om_reject_salve set wi_quantity = wi_quantity + #{amount} where unique_id = #{id}
    </update>
    <update id="systemOpenClose">
        update om_reject_master set work_status= #{status} where om_code= #{code}
        <if test="status=='3'">
              and 0 = (select sum(quantity-wi_quantity) as cnt from om_reject_salve where om_code= #{code} and del_flag=0 )
        </if>
    </update>
</mapper>